@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Mapsted Analytics<br />
    Markham, ON L3R 0A9<br />
    <abbr title="Phone">P:</abbr>
    832.373.1570
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@mapsted.com">Support@mapsted.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@mapsted.com">Marketing@mapsted.com</a>
</address>
