@{
    ViewData["Title"] = "Home Page";
}
@model MapstedAnalytics.Models.Result

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        @foreach (var item in ViewBag.Results)
        {

            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Value
                </td>
            </tr>
        }
    </table>
</div>